apiVersion: apps/v1
kind: Deployment
metadata:
  name: vehicle-quotes-web
  labels:
    app: vehicle-quotes-web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vehicle-quotes-web
  template:
    metadata:
      labels:
        app: vehicle-quotes-web
    spec:
      containers:
      - name: vehicle-quotes-web
        image: localhost:5000/vehicle-quotes-dev:registry
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 5001
          name: https
          protocol: TCP
        env:
        - name: POSTGRES_DB
          valueFrom:
            configMapKeyRef:
              name: postgres-config
              key: POSTGRES_DB
        - name: POSTGRES_USER
          valueFrom:
            configMapKeyRef:
              name: postgres-config
              key: POSTGRES_USER
        - name: POSTGRES_PASSWORD
          valueFrom:
            configMapKeyRef:
              name: postgres-config
              key: POSTGRES_PASSWORD
        - name: CUSTOMCONNSTR_VehicleQuotesContext
          value: Host=$(VEHICLE_QUOTES_DB_SERVICE_SERVICE_HOST);Database=$(POSTGRES_DB);Username=$(POSTGRES_USER);Password=$(POSTGRES_PASSWORD)
        resources:
          limits:
            cpu: "1"
            memory: 2Gi
