apiVersion: v1
kind: Service
metadata:
  name: vehicle-quotes-web-service
  namespace: default
spec:
  type: NodePort
  selector:
    app: vehicle-quotes-web
  ports:
  - name: http
    port: 80
    targetPort: 80
    nodePort: 30000
    protocol: TCP
  - name: https
    port: 443
    targetPort: 443
    nodePort: 30001
    protocol: TCP
